<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" routerLinkActive = "active current">
        <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive = "active current">
        <a class="nav-link" routerLink="/userlist">User List</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link " routerLink="/register">Register</a>
      </li>
    </ul>
    
  </div>
</nav>
