<div class="container">
  <div class="row">
      <div class="fill col-sm-12 filter">
          <input 
            #query
            (keyup)="filter(query.value)"
            type="text"
            class="form-control"
            placeholder=" Search...">
      </div>
  </div>
  
  <div class="row">
    <div class="filter col-sm-4" >
      <mat-form-field>
          <mat-select placeholder="Skill" (change)="filterBySkills($event)">
            <mat-option *ngFor="let skill of skillList" [value]="skill.name">
              {{ skill.name }}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </div>  
    <div class="filter col-sm-4" >
          <mat-form-field>
              <mat-select placeholder="Gender" (change)="filterByGender($event)">
                <mat-option *ngFor="let gender of genderList" [value]="gender.name">
                  {{ gender.name }}
                </mat-option>
              </mat-select>
          </mat-form-field>
      </div>  
  <div class="filter col-sm-4" >
      <!-- <mat-form-field>
          <mat-select placeholder="Skill">
            <mat-option *ngFor="let category of categoryList" [value]="category.id">
              {{ category.name }}
            </mat-option>
          </mat-select>
      </mat-form-field> -->
  </div>
  </div>
  <div class ="row " >
      <div class="col-sm-4 filter" *ngFor="let employee of filteredEmployee ">
        <mat-card class="example-card" style="min-height: 100%">
            <mat-card-header>
              <div mat-card-avatar class="profile-pic">
                  <img mat-card-image src= "https://ui-avatars.com/api/?size=64&name={{employee.displayName.split(' ').join('+')}}" alt="Profile">
              </div>
              <mat-card-title>{{employee.displayName}}</mat-card-title>
              <mat-card-subtitle>{{employee.emailAddress}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                  {{employee.bio}}
              </p>
              <mat-chip-list>
                  <mat-chip color="primary" *ngFor = "let skill of employee.skills" >{{skill}}</mat-chip>
              </mat-chip-list>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [routerLink]="['/details' , employee._id]">VIEW</button>
            </mat-card-actions>
          </mat-card>           
          </div>
      
      </div>
    </div>
