<div class="container">
  <div class="row">
      <div class="fill col-sm-12 filter">
          <input 
            #query
            (keyup)="filter(query.value)"
            type="text"
            class="form-control"
            placeholder=" Search...">
      </div>
  </div>
  
  <div class="row">
    <div class="filter col-sm-4" >
    <select 
      ngModel 
      name="category" 
      id="category" 
      class="form-control " 
      required>
    <option value="0" class="">filter by Skills</option>
    <option *ngFor="let category of categoryList" [value]="category.id">
      {{category.name}}
    </option>
  </select>
  </div>
  <div class="filter col-sm-4" >
    <select 
      ngModel 
      name="category" 
      id="category" 
      class="form-control" 
      required>
    <option value="0" class="">filter by Designation</option>
    <option *ngFor="let category of categoryList" [value]="category.id">
      {{category.name}}
    </option>
  </select>
  </div>
  <div class="filter col-sm-4" >
    <select 
      ngModel 
      name="category" 
      id="category" 
      class="form-control" 
      required>
    <option value="0" class="">filter by Project</option>
    <option *ngFor="let category of categoryList" [value]="category.id">
      {{category.name}}
    </option>
  </select>
  </div>
  </div>
  <div class ="row " >
      <div class="col-sm-4 filter" *ngFor="let employee of filteredEmployee ">
          <div class="card">
            <a [routerLink]="['/details' , employee.employeeCode]">
              <canvas class="header-bg" width="250" height="70" id="header-blur"></canvas>
              <div class="row">
                <div class="content col-sm-6">
                  <div class="avatar">
                    <img src="./assets/images/img1.jpg" alt="" />
                  </div>  
                  <p>{{employee.displayName}} <br>
                     {{employee.emailAddress}}<br>
                  </p>
              </div>
              <div class="badges col-sm-6">
                      <h6>Skills</h6>
                      <span class="badge badge-primary">Javascript</span>
                      <span class="badge badge-primary">Angular 4</span>
                      <span class="badge badge-primary">React Js</span>
                      <span class="badge badge-primary">Node Js</span>
                  
              </div>
              </div>
            </a>
            </div>
            
          </div>
      </div>    
    </div>
