/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";


body{
    background-color: rgb(245,245,245);
}
.card{
    background-color: white;
}

.filter {
    margin-top: 10px;
    margin-bottom: 20px;
}