
<div class="container"  *ngIf="employee">
  <div class="row">
    <div class="col-md-6">
        <div class="d-flex justify-content-between">
            <img src="../../assets/images/placeholder.png">
        </div>
      <div class="badges" >
          <h6>Skills</h6>
          <mat-chip-list >
              <mat-chip color="accent" *ngFor = "let skill of employee.skills" >{{skill}}</mat-chip>
          </mat-chip-list>
      </div>
    </div>
    <div class="col-md-4">
        <h5>Name  : {{employee.displayName}} </h5>
        <h5>Phone : {{employee.mobileNumber}}</h5>
        <h5>BOD   : {{employee.dateOfBirth | date:'mediumDate'}}</h5>
        <h5>Email : {{employee.emailAddress}}</h5>
    </div>
    <div class="col-md-2">
        <mat-chip-list *ngIf='authService.currentUser.userType == "ADMIN"'>
            <a [routerLink]="['../../editEmployee/' , employee._id]">
             <button mat-button> Update </button> 
             </a>
          <!-- <h4>  <mat-chip color="primary" >
                  Update Employee
                </mat-chip> 
                        </h4>
                      </a>    --> 

          <h4>
            <mat-chip color="primary" >Delete Employee</mat-chip></h4>
        </mat-chip-list>
    </div>
    <!-- <div class="col-md-4">
      <div class="featured">
        <h4>Current Project</h4>  
        <p>Angular 4 Talent Manager</p>
        <p>ning essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
          </p>
      </div> 

  </div>-->
  </div>
<div class="row">
    <div class="container-fluid">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#profile" role="tab" data-toggle="tab" >Bio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#project" role="tab" data-toggle="tab">Projects</a>
        </li>
       
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="profile"  >
          <p *ngIf="employee.bio != ''">
          
              {{employee.bio}}
              
            
            <p *ngIf="employee.bio == ''">
                No profile content availlable .
            </p>

        </div>
        <div role="tabpanel" class="tab-pane fade" id="project">
          <p>Lorem Ipsum is simply dummy text of the sadwn asdtook a galley of sadsetting, remaining essentsaded. It wsadke Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
        
      </div>
</div>

</div>

