
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="d-flex justify-content-between">
            <img src="../../assets/images/placeholder.png">
        </div>
      <div class="badges">
          <h6>Skills</h6>
          <span class="badge badge-primary">Javascript</span>
          <span class="badge badge-primary">Angular 4</span>
          <span class="badge badge-primary">React Js</span>
          <span class="badge badge-primary">Node Js</span>
      
      </div>
    </div>
    <div class="col-md-4">
        <h5>Name: Zeeshan Al Abedin</h5>
        <h5>Field 2: ABC</h5>
        <h5>Field 3: XYZ</h5>
        <h5>Field 4: QWE</h5>
    </div>
    <div class="col-md-4">
      <div class="featured">
        <h4>Current Project</h4>
        <p>Angular 4 Talent Manager</p>
        <p>ning essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum 
          </p>
      </div>

  </div>
  </div>
<div class="row">
    <div class="container-fluid">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#profile" role="tab" data-toggle="tab">Bio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#project" role="tab" data-toggle="tab">Projects</a>
        </li>
       
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="profile">
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into 
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>


        </div>
        <div role="tabpanel" class="tab-pane fade" id="project">
          <p>Lorem Ipsum is simply dummy text of the sadwn asdtook a galley of sadsetting, remaining essentsaded. It wsadke Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
        
      </div>
</div>

</div>

