<div class="Absolute-Center is-Responsive">
    <mat-card>
      <mat-card-title>
        Register
      </mat-card-title>

      <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
          <mat-step label="Personal Detail 1" layout="column">
            <form [formGroup]="firstFormGroup">
              <ng-template matStepLabel>Personal Details</ng-template>
              <div class="edit-container">
                <mat-form-field>
                  <input 
                    type="text" 
                    matInput 
                    formControlName="firstName" 
                    placeholder="Enter First Name*" 
                  />
                  <mat-error *ngIf="firstName.touched && firstName.invalid">
                    <mat-error *ngIf="firstName.errors.required">
                      First Name is required .
                    </mat-error>
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input 
                    type="text" 
                    matInput 
                    placeholder="Enter Last Name*" 
                    formControlName="lastName" />
                  <mat-error *ngIf="lastName.touched && lastName.invalid">
                    First Name is required .
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input 
                    type="text" 
                    placeholder="Enter Employee Code"
                    matInput 
                    formControlName="employeeCode" />
                  
                  <mat-error *ngIf="employeeCode.touched && employeeCode.invalid">
                    <mat-error *ngIf="employeeCode.errors.required">
                      Employee code is required.
                    </mat-error>
                    <mat-error *ngIf="employeeCode.errors.shouldBeUnique">
                      Employee code is not unique
                    </mat-error>
                  </mat-error>
                </mat-form-field>
                <mat-form-field>
                  <input type="email" matInput formControlName="emailAddress" placeholder="Enter Email Address*" />
                  <mat-error *ngIf="emailAddress.touched && emailAddress.invalid">
                    Email Address is required .
                  </mat-error>
                </mat-form-field>

                <div class="button-row">
                  <button color="primary" mat-raised-button matStepperNext [disabled]="!firstFormGroup.valid">Next</button>
                </div>
              </div>
          </form>
          </mat-step>

          <mat-step label="Set Password">
            <form [formGroup]="secondFormGroup">
            <div class="edit-container">
              <mat-form-field>
                <input 
                  type="password" 
                  matInput 
                  placeholder="Enter Password*" 
                  formControlName="password" />
                <mat-error *ngIf="password.touched && password.invalid">
                  <mat-error *ngIf="password.errors.required">
                    Password should not be empty.
                  </mat-error>
                  <mat-error *ngIf="password.errors.minlength">
                    Password should be minimum {{password.errors.minlength.requiredLength}} character long .
                  </mat-error>
                  <mat-error *ngIf="password.errors.maxlength">
                    Password should be miximnum 15 character long .
                  </mat-error>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input 
                  type="password" 
                  placeholder="Confirm Password" 
                  matInput 
                  formControlName="confirmPassword" 
                />
                <mat-error *ngIf="secondFormGroup.controls.confirmPassword.errors?.MatchPassword">
                    Password Mismatch.
                </mat-error>
              </mat-form-field>

              <div class="button-row">
                <button type="button" mat-raised-button matStepperPrevious color="primary" onclick="" class="cancelbtn">Cancel</button>
                <button type="submit" (click)="submit(f)"  [disabled]="!secondFormGroup.valid" mat-raised-button matStepperNext color="primary" class="signupbtn">Sign Up</button>
              </div>
            </div>
          </form>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div *ngIf="invalidRegistration" class="alert alert-danger">
              User already Exist !
            </div>
            <div *ngIf="!invalidRegistration" class="alert alert-success">
              Successfully Registered , You will be naviagated to Login page soon !
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </mat-card-content>
      <!-- <mat-card-footer>
      </mat-card-footer> -->
    </mat-card>
</div>